{% extends "base.html" %}
{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-warning" role="alert">
        {% for message in messages %}
        {{ message }} <br>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <h2>{{ page_title }}</h2>
</div>
<table class="table table-striped">
    <tr>
        <thead>
        <th scope="col">Дата</th>
        <th scope="col">Контрагент</th>
        <th scope="col">Сумма</th>
        <th scope="col">Категория</th>
        <th scope="col">Действие</th>
        </thead>
    </tr>
    {% for items in purchase %}
    <tr>
        <tbody>
        <td><a href="{{ url_for('receipt.my_detailed_receipt', purchase=items.id) }}">{{ items.date }}</a></td>
        <td><a href="{{ url_for('receipt.my_detailed_receipt', purchase=items.id) }}">{{ items.organization }}</a></td>
        <td><a href="{{ url_for('receipt.my_detailed_receipt', purchase=items.id) }}">{{ items.sum }}</a></td>
        <td>{{ items.category[0] }}</td>
        <td>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modwin_{{items.id}}">
                Категория
            </button>
            <!-- Modal -->
            <div class="modal fade" id="modwin_{{items.id}}" tabindex="-1" role="dialog"
                 aria-labelledby="CategoryModalLabel"
                 aria-hidden="true">
                {{items.id}}
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="CategoryModalLabel">Выбор категории покупки:</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="{{ url_for('receipt.commit_category_to_purchase') }}" method="post">
                                {{ form_category.hidden_tag() }}
                                <div class="form-group">
                                    <input type="hidden" name="purchase_id" value="{{items.id}}">
                                    {{ form_category.category.label }} <br>
                                    {{ form_category.category() }}
                                </div>
                                <p> {{ form_category.submit() }} </p>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        </tbody>
    </tr>
    {% endfor %}
</table>
<!--{{ data }}-->
<button type="button" class="btn btn-primary" onclick="window.location.href = '/receipt/qrscaner'">Сканировать чек
</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#manual_add">
    Добавить вручную
</button>

<!-- Modal -->
<div class="modal fade" id="manual_add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('api.process_manual_add_purchase') }}" method="post">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.date.label }} <br>
                        {{ form.date() }}
                    </div>
                    <div class="form-group">
                        {{ form.purchase.label }} <br>
                        {{ form.purchase() }}
                    </div>
                    <div class="form-group">
                        {{ form.quantity.label }} <br>
                        {{ form.quantity() }}
                    </div>
                    <div class="form-group">
                        {{ form.sum.label }} <br>
                        {{ form.sum() }}
                    </div>
                    <p> {{ form.submit() }} </p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
