{% extends "base.html" %}
{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-warning" role="alert">
        {% for message in messages %}
        {{ message }} <br>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <h2>{{ page_title }}</h2>
</div>
<!--<div>-->
<!--    <h4 id="qr">Тут выводятся данные из чека</h4>-->
<!--</div>-->
<table class="table table-striped">
    <tr>
        <thead>
        <th scope="col">Дата</th>
        <th scope="col">Контрагент</th>
        <th scope="col">Сумма</th>
        </thead>
    </tr>
    {% for receipt in receipt_dict.values() %}
    <tr>
        <tbody>
        <td><a href="/receipt/my-detailed-receipt">{{ receipt['data'] }}</a></td>
        <td><a href="{{receipt}}">{{ receipt['name'] }}</a></td>
        <td><a href="{{receipt}}">{{ receipt['sum'] }}</a></td>
        </tbody>
    </tr>
    {% endfor %}
</table>
{{ data }}
<button type="button" class="btn btn-primary" onclick="window.location.href = '/receipt/qrscaner'">Добавить чек</button>
<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">-->
<!--  Добавить чек-->
<!--</button>-->

<!--&lt;!&ndash; Modal &ndash;&gt;-->
<!--<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->

<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
{% endblock %}
