{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-warning" role="alert">
    {% for message in messages %}
    {{ message }} <br>
    {% endfor %}
</div>
{% endif %}
{% endwith %}
<form action="{{ url_for('receipt.process_qrparser') }}" method="post">
    {{ form.hidden_tag()}}
    <div class="form-group">
        {{ form.qrtext.label }} <br>
        {{ form.qrtext() }}
    </div>
    {{ form.submit }}
</form>

{% endblock %}
