{% extends "base.html" %}
{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="row">
        <div class="col-sm">
            <h4>Профиль пользователя {{ user.username }}</h4>
            <div style="background-color: beige">
                <h6>Для дальнейшей работы, необходимо ввести номер телефона и пароль полученный при регистрации в
                    приложении ФНС "Проверка чека".
                    Без этих данных мы не сможем получить твои данные по чеку и собрать для тебя статистику по расходам.
                    Если тебе лень ставить приложение от ФНС на свой смартфон и проводить всякие не нужные манипуляции,
                    мы можем сделать это за тебя ;)
                </h6>
            </div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-fnsreg-modal-sm">
                Зарегистрироваться в ФНС
            </button>
            <div class="modal fade bd-fnsreg-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <form action="{{ url_for('user.process_register_fns') }}" method="post">
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                {{ form_fns.telephone.label }} <br>
                                {{ form_fns.telephone() }}
                            </div>
                            <p> {{ form_fns.submit() }} </p>
                        </form>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-fnsrec-modal-sm">
                Восстановить пароль ФНС
            </button>
            <div class="modal fade bd-fnsrec-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <form action="{{ url_for('user.process_recovery_fns') }}" method="post">
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                {{ form_recovery.telephone.label }} <br>
                                {{ form_recovery.telephone() }}
                            </div>
                            <p> {{ form_recovery.submit() }} </p>
                        </form>
                    </div>
                </div>
            </div>
            <form action="{{ url_for('user.process_profile') }}" method="post">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.fns_login.label }} <br>
                    Текущее значение {{ user.fns_login }} <br>
                    {{ form.fns_login() }}
                </div>
                <div class="form-group">
                    {{ form.fns_password.label }} <br>
                    Текущее значение {{ user.fns_password }} <br>
                    {{ form.fns_password }}
                </div>
                <p> {{ form.submit() }} </p>
            </form>
        </div>
    </div>
</div>
{% endblock %}