{% extends "base.html" %}
{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-warning" role="alert">
            {% for message in messages %}
            {{ message }} <br>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}
    <div class="row">
        <div class="col-xs-6 col-lg-3">
            <form action="{{ url_for('statistic.process_outlay') }}" method="post">
                {{ form.hidden_tag() }}
                <div class="form -group">
                    {{ form.start_date.label }} <br>
                    {{ form.start_date() }}
                </div>
                <div class="form-group">
                    {{ form.end_date.label }} <br>
                    {{ form.end_date() }}
                </div>
                <p> {{ form.submit() }} </p>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h2>{{ page_title }}</h2>
            Всего покупок за {{ text_date }} на {{query_purchase}} рублей
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="chart-container" style="position: relative; height:50vh; width:50vw">
                <canvas id="Category"></canvas>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="chart-container" style="position: relative; height:50vh; width:50vw">
                <canvas id="subCategory"></canvas>
            </div>
        </div>
    </div>
</div>

<script src="/static/chart/Chart.js"></script>
<script>
    var ctx = document.getElementById('Category');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {

            labels: [{% for items in query_category %} '{{items[0]}}', {% endfor %}],
            datasets: [{
                label: 'Потрачено',
                data: [{% for items in query_category %} '{{items[1]}}', {% endfor %} ],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',

                    'rgba(238, 232, 170, 0.2)',
                    'rgba(152, 251, 152, 0.2)',
                    'rgba(175, 238, 238, 0.2)',
                    'rgba(255, 239, 213, 0.2)',
                    'rgba(255, 218, 185, 0.2)',
                    'rgba(205, 133, 63, 0.2)',
                    'rgba(255, 192, 203, 0.2)',
                    'rgba(221, 160, 221, 0.2)',
                    'rgba(176, 224, 230, 0.2)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(238, 232, 170, 1)',
                    'rgba(152, 251, 152, 1)',
                    'rgba(175, 238, 238, 1)',
                    'rgba(255, 239, 213, 1)',
                    'rgba(255, 218, 185, 1)',
                    'rgba(205, 133, 63, 1)',
                    'rgba(255, 192, 203, 1)',
                    'rgba(221, 160, 221, 1)',
                    'rgba(176, 224, 230, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {beginAtZero: true}
                }]
            }
        }
    }
        );
</script>

<script>
    var ctx = document.getElementById('subCategory');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {

            labels: [{% for items in query_subcategory %} '{{items[0]}}', {% endfor %}],
            datasets: [{
                label: 'Потрачено',
                data: [{% for items in query_subcategory %} '{{items[1]}}', {% endfor %} ],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',

                    'rgba(238, 232, 170, 0.2)',
                    'rgba(152, 251, 152, 0.2)',
                    'rgba(175, 238, 238, 0.2)',
                    'rgba(255, 239, 213, 0.2)',
                    'rgba(255, 218, 185, 0.2)',
                    'rgba(205, 133, 63, 0.2)',
                    'rgba(255, 192, 203, 0.2)',
                    'rgba(221, 160, 221, 0.2)',
                    'rgba(176, 224, 230, 0.2)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(238, 232, 170, 1)',
                    'rgba(152, 251, 152, 1)',
                    'rgba(175, 238, 238, 1)',
                    'rgba(255, 239, 213, 1)',
                    'rgba(255, 218, 185, 1)',
                    'rgba(205, 133, 63, 1)',
                    'rgba(255, 192, 203, 1)',
                    'rgba(221, 160, 221, 1)',
                    'rgba(176, 224, 230, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {beginAtZero: true}
                }]
            }
        }
    }
        );
</script>
{% endblock %}